body {
	font-family: Arial, sans-serif;
	text-align: center;
}

#plans {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 20px;
}

#pay-button {
	padding: 10px 20px;
	font-size: 18px;
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
}